* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", serif;
}

.container {
}

img {
  width: 400px;
  margin-bottom: 10px;
}

.text-h3 {
  background-color: rgb(53, 121, 230);
  color: #fff;
  width: 240px;
  font-size: 25px;
  border-radius: 5px;
  padding: 11px;
}

.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

/* MEDIA */

@media only screen and (max-width: 500px) {
  img {
    width: 300px;
  }
  .text-h3 {
  width: 200px;
  padding: 7px;
  font-size: 20px;
}
}
